/*---
general.scss
---*/

// Variables
$phone: 320px;
$fablet: 480px;
$tablet: 768px;
$desktop: 992px;
$large: 1300px;

// Colors
$black: #333333;
$deep-grey: #666;
$white: #ffffff;
$yellow: #fdc244;
$orange: #f69322;
$green: #b9d777;
$red: #ef4e34;

// Image paths
$imgPath: "../img/";

/* Mixins */
@mixin respond-to($media) {
  @if $media == phone {
    @media only screen and (max-width: $fablet - 1) {
      @content;
    }
  } @else if $media == fablet {
    @media only screen and (max-width: $tablet - 1) {
      @content;
    }
  } @else if $media == tablet {
    @media only screen and (max-width: $desktop - 1) {
      @content;
    }
  } @else if $media == desktop {
    @media only screen and (max-width: $large - 1) {
      @content;
    }
  } @else if $media == large {
    @media only screen and (min-width: $large) {
      @content;
    }
  }
}

/* Styles */

body {
  width: 100%;
  min-height: 1000px;
  padding: 100px 0;
  background-image: url($imgPath + 'wood_1.png');
  background-repeat: repeat;
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
  color: $black;
  font-size: 18px;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;

  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    background-image: url($imgPath + 'wood_1_@2X.png');
  }

  @include respond-to(tablet) {
    font-size: 16px;
  }

  @include respond-to(fablet) {
    font-size: 15px;
  }

  @include respond-to(phone) {
    font-size: 12px;
  }
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2.2em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.8em;
}

h1, h2, h3, h4, p, ul, ol {
  margin: 0;
  padding: 0;
}

a {
  -webkit-transition: all ease-in-out .3s;
  -moz-transition: all ease-in-out .3s;
  -ms-transition: all ease-in-out .3s;
  -o-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

img {
  width: 100%;
}

.logo-font {
  font-family: "Cinzel", sans-serif;
}

.condensed-font {
  font-family: 'Open Sans Condensed', sans-serif;
}

.container {
  width: 1040px;
  position: relative;
  padding: 20px;
  min-height: 300px;
  margin: 0 auto;
  background-image: url($imgPath + 'handmadepaper.png');

  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    background-image: url($imgPath + 'handmadepaper_@2X.png');
  }
}

.black-border {
  border: 1px solid $deep-grey;
}
