.content {
  min-height: 300px;
  padding: 15px;
}

.top-grid {
  margin-bottom: 40px;
}

.top-grid__item {
  height: 250px;
  padding: 0;
  padding-right: 5px;
  margin-bottom: 5px;

  &:last-child {
    padding-right: 0;
  }

  &:hover {
    .top-grid__image {
      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      -ms-filter: grayscale(0%);
      -o-filter: grayscale(0%);
      filter: grayscale(0%);
    }
  }

  @include respond-to(tablet) {
    height: 220px;

    .top-grid__image {
      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      -ms-filter: grayscale(0%);
      -o-filter: grayscale(0%);
      filter: grayscale(0%);
    }
  }

  @include respond-to(fablet) {
    padding: 0;
    height: 250px;
    margin-bottom: 10px;
  }

  @include respond-to(phone) {
    height: 200px;
  }
}

.top-grid__image-block {
  position: relative;
  height: 250px;
  overflow: hidden;
  border: 1px solid $deep-grey;

  &:after {
    content: "";
    width: 100%;
    height: 110px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, .0), rgba(0, 0, 0, .9));
  }

  @include respond-to(tablet) {
    height: 220px;
  }

  @include respond-to(fablet) {
    height: 250px;
  }

  @include respond-to(phone) {
    height: 200px;
    
    &:after {
      background: 0;
    }
  }
}

.top-grid__image {
  width: 100%;
  height: auto;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all ease-in-out .3s;
  -moz-transition: all ease-in-out .3s;
  -ms-transition: all ease-in-out .3s;
  -o-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
  //  filter: url($imgPath + "grayscale.svg");
  //  filter: gray;
}

.top-grid__image-caption {
  width: 100%;
  padding: 10px 15px;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
  color: $white;
  font-size: 1.2em;
  font-weight: bold;
  text-shadow: 0 0 10px $black;
  text-transform: uppercase;
  
  @include respond-to(phone) {
    text-shadow: none;
    background-color: $black;
  }
}

.top-grid__link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.hot {
  margin-bottom: 15px;

  &:before {
    content: 'дичайшее: ';
    text-transform: uppercase;
  }
}

.hot__link {
  color: $black;
  text-decoration: underline;

  &:hover {
    color: $black;
    text-decoration: none;
  }
}

.index-subtitle {
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 1.2em;
}

.cool__title {
  color: $white;
  background-color: $black;
}

.cool-grid {
  padding: 10px;
  background-color: $black;
  margin-bottom: 40px;
}

.cool-grid__item {
  padding: 10px;
  margin-bottom: 20px;

  @include respond-to(fablet) {
    margin-bottom: 10px;
  }

  @include respond-to(phone) {
    margin-bottom: 0;
  }
}

.cool-grid__image-block {
  position: relative;
  overflow: hidden;
}

.cool-grid__image {
  width: 100%;
  height: auto;
}

.cool-grid__link {
  @extend .top-grid__link;
}

.cool-grid__image-caption {
  width: 100%;
  color: $white;
  padding: 10px 20px;
  line-height: 1.2;
  font-size: 1.1em;
  font-weight: 100;
  background-color: $black;

  @include respond-to(phone) {
    padding: 10px 0;
  }
}

.last-news {
  padding: 10px 5px;
}

.last-news__title {
  color: $black;
}

.last-news__item {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 30px;
  float: none;

  @include respond-to(phone) {
    margin-bottom: 20px;
  }
}

.last-news__item-title {
  font-size: 1.2em;
  line-height: 1.2;
  margin-bottom: 15px;
}

.last-news__image-block {
  width: 100%;
  height: 200px;
  overflow: hidden;
  margin-bottom: 15px;

  @include respond-to(fablet) {
    height: 300px;
  }

  @include respond-to(phone) {
    height: 200px;
    margin-bottom: 10px;
  }
}

.last-news__item-lead {
  line-height: 1.2;
}

.last-news__link {
  @extend .top-grid__link;
}

.up-button {
  width: 60px;
  height: 70px;
  display: block;
  position: fixed;
  left: 15px;
  bottom: 15px;
  background-color: $white;
  background-image: url($imgPath + 'up_icon.png');
  -webkit-background-size: 80%;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center 5px;
  border: 1px solid $black;
  -webkit-transition: all easy-in-out 1s;
  -moz-transition: all easy-in-out 1s;
  -ms-transition: all easy-in-out 1s;
  -o-transition: all easy-in-out 1s;
  transition: all easy-in-out 1s;
  z-index: 999;

  &:after {
    content: 'наверх';
    position: absolute;
    display: block;
    color: $black;
    width: 100%;
    text-align: center;
    font-size: .7em;
    bottom: 0;
    left: 0;
  }

  @include respond-to(tablet) {
    display: none;
  }
}

.up-button--hidden {
  bottom: -300px;
}